In [1]:
import pandas as pd
import re

In [2]:
#1 задание
movies = pd.read_csv('ml-latest-small/ratings.csv')
movies.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
#пишем функцю классификации для рейтинга
def rating_classification(rating):
    if rating <= 2.0:
        return 'низкий рейтинг'
    elif rating <= 4.0:
        return 'средний рейтинг'
    elif rating >= 4.5:
        return 'высокий рейтинг'

In [4]:
#применяем функцию к столбцу рейтинга и записываем результат функции в новый столбец класса
movies['class'] = movies['rating'].apply(rating_classification)

In [5]:
movies.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

In [6]:
#2 задание
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [7]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],

            'Северо-Запад': ['петербург', 'псков', 'мурманск'],

            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [8]:
def find_region(keyword):
    for key, value in geo_data.items():
        for city in value:
            if city in keyword:
                  return key
    return 'undefined'

In [9]:
keywords['region'] = keywords['keyword'].apply(find_region)

In [10]:
#проверка работы кода
keywords[(keywords['region'] == 'Дальний Восток')]

                                       keyword   shows          region
1063                       фарпост владивосток  176951  Дальний Восток
2175                            дром хабаровск   98361  Дальний Восток
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
...                                        ...     ...             ...
90402                     аэропорт владивосток    4658  Дальний Восток
92442  монастырев владивосток официальный сайт    3870  Дальний Восток
92843                    проститутки хабаровск    4120  Дальний Восток
93872                        биглион хабаровск    3890  Дальний Восток
95572                 точное время владивосток    4142  Дальний Восток

[94 rows x 3 columns]

In [11]:
#3 задание
mov_3 = pd.read_csv('ml-latest-small/movies.csv')
rat_3 = pd.read_csv('ml-latest-small/ratings.csv')

In [12]:
#функция для извлечения даты с помощью регулярных выражений, почему не работает return data[0]? (out of range). Не правиьно прочла задание.
def make_year(row):
    reg = '\d+'
    data = re.findall(reg, row)
    for i in data:
        return i

In [13]:
#применяем функцию make_year к столбцу title
#mov_3['year'] = mov_3['title'].apply(make_year)

In [14]:
#1 пункт
years = list(range(1950, 2011))

In [15]:
#2 пункт
def production_year(row):
    for i in years:
        if str(i) in row:
            return i
    return 1900

In [16]:
#3 пункт
mov_3['year'] = mov_3['title'].apply(production_year)

In [27]:
#4 пункт. Сливаем два дф 
merged = rat_3.merge(mov_3, how='left', on='movieId')

In [40]:
#создаем новый дф, сгруппированный по году и считаем средний рейтинг 
grouped = merged.groupby('year').mean()['rating'].reset_index()

In [51]:
#сортируем дф по рейтингу с параметром убывания
grouped.sort_values('rating', ascending=False).head()

    year    rating
8   1957  4.039535
5   1954  4.009191
13  1962  3.969466
3   1952  3.953125
23  1972  3.944293