In [56]:
import pandas as pd
import re

In [57]:
#1 задание
movies = pd.read_csv('ml-latest-small/ratings.csv')
movies.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [58]:
#пишем функцю классификации для рейтинга
def rating_classification(rating):
    if rating <= 2.0:
        return 'низкий рейтинг'
    elif rating <= 4.0:
        return 'средний рейтинг'
    elif rating >= 4.5:
        return 'высокий рейтинг'

In [59]:
#применяем функцию к столбцу рейтинга и записываем результат функции в новый столбец класса
movies['class'] = movies['rating'].apply(rating_classification)

In [60]:
movies.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

In [61]:
#2 задание
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [62]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],

            'Северо-Запад': ['петербург', 'псков', 'мурманск'],

            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [63]:
def find_region(keyword):
    for key, value in geo_data.items():
        for city in value:
            if city in keyword:
                  return key
            else:
                return 'undefined'

In [64]:
keywords['region'] = keywords['keyword'].apply(find_region)

In [65]:
#проверка работы кода
keywords[(keywords['region'] == 'Центр')]

                                                keyword   shows region
127                                        авито москва  979292  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
1682                                      погода москва  151701  Центр
...                                                 ...     ...    ...
98388                  пилюли ру интернет аптека москва    3690  Центр
98679                                        геи москва    4205  Центр
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99890                               яндекс метро москва    4548  Центр

[284 rows x 3 columns]

In [66]:
#3 задание
mov_3 = pd.read_csv('ml-latest-small/movies.csv')
rat_3 = pd.read_csv('ml-latest-small/ratings.csv')

In [120]:
#функция для извлечения даты с помощью регулярных выражений, почему не работает return data[0]? (out of range). Не правиьно прочла задание.
def make_year(row):
    reg = '\d+'
    data = re.findall(reg, row)
    for i in data:
        return i

In [125]:
#применяем функцию make_year к столбцу title
#mov_3['year'] = mov_3['title'].apply(make_year)

In [134]:
#1 пункт
years = []
for i in range(1950, 2011):
    years.append(i)

In [143]:
#2 пункт
def production_year(row):
    for i in years:
        if str(i) in row:
            return i
    return 1900

In [144]:
#3 пункт
mov_3['year'] = mov_3['title'].apply(production_year)

In [162]:
rat_3.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [166]:
#пишем функцию нахождения среднего значения по рейтингу
def mean_value(data):
    return data.rating.mean()

In [170]:
#группируем по айди фильма, нет информации о слиянии дата фреймов?
rat_3.groupby('movieId').apply(mean_value).sort_values(ascending=False)

movieId
88448     5.0
100556    5.0
143031    5.0
143511    5.0
143559    5.0
         ...
157172    0.5
85334     0.5
53453     0.5
8494      0.5
71810     0.5
Length: 9724, dtype: float64